stages:
  - lint
  - test
  - build
  - deploy

variables:
  IMAGE_TAG: $CI_COMMIT_SHORT_SHA

lint:
  image: python:3.11-slim
  stage: lint
  script:
    - pip install ruff
    - ruff check app
  allow_failure: true

test:
  image: python:3.11-slim
  stage: test
  script:
    - pip install -r requirements.txt
    - pip install pytest httpx
    - pytest

build:
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  stage: build
  before_script:
    - |
      if [ -n "$CI_COMMIT_TAG" ]; then
        export APP_VERSION=$CI_COMMIT_TAG
      else
        export APP_VERSION="0.0.0-rev${CI_COMMIT_SHORT_SHA}"
      fi
      echo "APP_VERSION=$APP_VERSION" >> build.env
      echo "Determined version: $APP_VERSION"
  script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$APP_VERSION .
    - docker push $CI_REGISTRY_IMAGE:$APP_VERSION
  artifacts:
    reports:
      dotenv: build.env

deploy_dev:
  stage: deploy
  image: line/kubectl-kustomize
  environment:
    name: dev
  script:
    - cd k8s/overlays/dev
    - kustomize edit set image registry.gitlab.com/username/project:latest=$CI_REGISTRY_IMAGE:$APP_VERSION
    - kubectl apply -k .
  only:
    - develop

deploy_staging:
  stage: deploy
  image: line/kubectl-kustomize
  environment:
    name: staging
  script:
    - cd k8s/overlays/staging
    - kustomize edit set image registry.gitlab.com/username/project:latest=$CI_REGISTRY_IMAGE:$APP_VERSION
    - kubectl apply -k .
  only:
    - main

deploy_prod:
  stage: deploy
  image: line/kubectl-kustomize
  environment:
    name: prod
  script:
    - cd k8s/overlays/prod
    - kustomize edit set image registry.gitlab.com/username/project:latest=$CI_REGISTRY_IMAGE:$APP_VERSION
    - kubectl apply -k .
  when: manual
  only:
    - main
