apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base
# Uncomment to enable Postgres component
# - ../../components/postgres
# Uncomment to enable Backup component
# - ../../components/backup

patches:
- target:
    kind: Deployment
    name: backend-service
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/cpu
      value: 1000m
    - op: replace
      path: /spec/template/spec/containers/0/resources/limits/memory
      value: 1Gi

- target:
    kind: Ingress
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: api.example.com

configMapGenerator:
- name: backend-service-config
  behavior: merge
  literals:
  - ENVIRONMENT=prod
  - LOG_LEVEL=INFO
