replicaCount: 1

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

env:
  ENVIRONMENT: "dev"
  LOG_LEVEL: "DEBUG"
  ENABLE_TELEMETRY: "false"

ingress:
  enabled: true
  hosts:
    - host: dev.example.com
      paths:
        - path: /
          pathType: Prefix
