apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

patches:
- target:
    kind: Deployment
    name: backend-service
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 2

- target:
    kind: Ingress
  patch: |-
    - op: replace
      path: /spec/rules/0/host
      value: staging.example.com

configMapGenerator:
- name: backend-service-config
  behavior: merge
  literals:
  - ENVIRONMENT=staging
  - LOG_LEVEL=INFO
